<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta httpEquiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400|Inter:400,600,700" rel="stylesheet">
  <style type="text/css">
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css";


* {
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-renderoing: geometricPrecision;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
font-size: 17px;
font-weight: 400;
font-family: Inter, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
line-height: 1.6;
  color: #111;
}


a {
  color: #181818;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  transition: border-color 0.2s;
}

a:hover {
  border-bottom: 1px solid #888;
}

em {
  font-style: italic;
}

p {
    line-height: 1.6;
    margin: 30px 0;
}

pre {
  font: 1.1rem Assistant,-apple-system,BlinkMacSystemFont,Arial,sans-serif;
}

code {
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Arial,sans-serif;
  padding: 2px 2px;
}

iframe {
  max-width: 100% !important;
}

strong, strong a {
  font-weight: 600 !important;
}

::selection {
  color: rgb(45, 110, 220);
  background: #f2f2f2;
}

.page-date {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 35px 0;

}

.page-title {
  line-height: 48px;
  font-size: 40px;
  margin: 16px 0 36px 0;
  letter-spacing: -0.02em;
}

.page-image {
  max-height: unset !important;
  /*margin-bottom: 36px;*/
  border-radius: 24px;
  max-height: unset !important;
}

.column {
  max-width: 640px;
  padding: 0 6.4% 24px;
  margin: 0 auto;
}

.blog {
  margin: 75px auto;
  padding: 0 6.4% 24px;
}

.blog .bio {
  border-top: 1px solid #eee;
  padding-top: 48px;
  margin: 48px auto;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 20px;
  color: #333;

}

.blog .bio p {
  margin: 0;
padding: 13px 0;
}

.blog .bio p a {
text-decoration: none;
border-bottom: 1px solid #ccc;
font-weight: 500;
color: #030303;
}

.blog .bio p a:hover {
border-bottom: 0;
}

.blog .bio .img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    background: #f2f2f2;
}

.blog .bio img {
    width: 120px;
    margin: -10px 0 0 -10px;
    max-width: none;
}

.blog img, .blog video {
  max-width: 100%;
  max-height: 60vh;
}

.blog a {
  text-decoration: underline;
  text-decoration-color: #ccc;
  border: 0;
  font-weight: 600;
}

.blog a:hover {
  text-decoration: none;
}

ul li, ol li {
  line-height: 1.75;
}

pre {
background: rgb(240, 245, 245);
padding: 10px;
overflow-x: scroll;
}


code {
  font-family: Inconsolata,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-size: 0.9rem;
  background: rgb(240, 245, 245) !important;
  line-height: 1.6;
}

pre code {
background: transparent !important;
padding: 0;

}

h1 {
  font-weight: bold;
  margin: 2em auto .8em;
  font-size: 32px;
  color: #050505;
  letter-spacing: .01em
}

h2 {
  margin: 2em 0 .5em;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  margin: 2em 0 0em;
  font-weight: 700;
  line-height: 1.5;
}

.toc {
  background: #f5f5f5;
  padding: 25px 25px 25px 25px;
  font-weight: 400;
  font-size: 0.9;
  margin: 5rem 0;
  font-size: 1rem;
  list-style: none;
  font-weight: 400;
}

.toc .toc-content {
  column-count: 2;
}

.toc a {
text-decoration: none;
font-weight: 500;
}

.toc h1 {
  display: inline-block;
  background: #ebe8e3;
margin: 0 0 20px 0;
font-size: 0.9rem;
font-weight: 500;
  color: #555;
  padding: 5px 10px;
  letter-spacing: -0.5px;
}

.toc ul {
  margin: 0;
padding-left: 0px;
list-style: none;
}

.toc ul li {
  margin: 3px 0px;
}

.toc ul li:before {
  display: none;
}

.toc ul li ul {
  margin-left: 25px;
}

.toc ul li:before {
  content: "";
  display: none;
}

.toc ul li a {
  border: 0;
  color: #444;
}

.toc ul li a:hover {
  color: #000;
}

.toc ul li strong a {
  font-weight: 500;
}

blockquote {
  margin: 20px 0;
  border-left: 5px solid #eee;
  line-height: 1.8;
  padding: 0px 30px 0 30px;
  color: #555;
  position: relative;
}

/*blockquote:before {
  content: "“";
  display: block;
  font-size: 142px;
  position: absolute;
  top: -65px;
  left: 20px;
  color: #ddd;
}*/

.blog-post .post blockquote p {
  color: #555;
}

.img-alt {
  text-align: center;
  margin-top: 0px;
  display: block;
  font-size: 0.8rem;
  color: #888;
  line-height: 1.7;
  margin: 10px 0 20px 0;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  width: calc((87.2% - 640px) / 2);
  height: 30px;
  left: 20px;
  top: 90px;
  font-size: 14px;
position: absolute;

}

.back-btn a {
  color: #999;
  font-weight: 600;
  text-decoration: none;
  border: 0;
  padding: 10px 15px 10px 40px;
border-radius: 8px;
position: relative;
transition: color, background-color .2s;
}

.back-btn svg {
  position: absolute;
  top: 9px;
  left: 13px;
opacity: 0.3;
transition: opacity .2s;
}

.back-btn a:hover {
background: #F5F5F5;
color: #777;
  border: 0;
}

@media only screen and (max-width: 1050px) {
 .back-btn {
    position: static;
    width: 100%;
    text-align: left;
    justify-content: start;
    margin: 48px 0 0px -16px;
}

.back-btn a:hover {
  background: transparent;
  color: #666;
}

.back-btn a:hover svg {
opacity: 0.5;
}

.blog {
    margin-top: 48px;
}

.page-date {
  margin-bottom: 15px;
}
}

@media only screen and (max-width: 840px) {
  .page-image {
    margin-left: 0;
}


}


@media only screen and (max-width: 650px) {
.blog .bio {
grid-template-columns: 75px auto;
}

  .blog .bio .img {
    width: 75px;
  }

  .blog .bio img {
    width: 95px;
  }

  .blog .bio p {
padding: 0;
font-size: 16px;
  }
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
}


  </style>
</head>
<body>
  <div class="column">
  <div class="back-btn">
  <a href="/">

<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 3L2 7L6 11" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2 7H9.2C11.8509 7 14 9.23863 14 12" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

Azer Koçulu
  </a>
  </div>
  </div>
  <div class="blog column">
    <div class="page-date">{{ createdAt  | date("HUMAN_DATE", "gl") }}</div>
    <h1 class="page-title">{{ title }}</h1>
    {% if image and not hideImage %}
    <img class="page-image" src={{ image }} />
    {% if imageAlt %}
    <span class="img-alt">{{ imageAlt }}</span>
    {% endif %}
    {% endif %}
    <div class="blog-content">{{ content | safe }}</div>
  </div>
</body>
</html>
